<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Kablammo&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<style>
		body {
		background-image: url("https://img.freepik.com/free-vector/abstract-white-bokeh-glowing-lights-background_1017-24049.jpg?w=900&t=st=1689535761~exp=1689536361~hmac=a52aac8ddbbe8463d92ae87468e22d154463df583ad59afb71a9ee82f6a03ec6");
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		}
		.submit_btn {
		position: relative;
		left:-412px;
		top:568px;
		
		}
		.submit_btn input{
		padding: 10px;
		width: 300px;
		height: 40px;
		}
		.h2 {
		text-align: center;
		}
		.row h1 {
		font-family: "Kablammo", cursive;
		font-size: 4em;
		}
		.thead-dark h3 {
		font-size: 1.4em;
		}
</style>
  <body class="container-fluid">
    {% if messages %} {% for message in messages %}
    <div class="alert alert-info">
      <strong>{{message}}</strong>
    </div>
    {% endfor %} {% endif %}

    <center class="row">
      <h1>TODO LIST</h1>
      <hr />
    </center>
    <div class="container" id="task-container1">
      <table class="table" id="maintable">
        <thead class="thead-dark">
          <th colspan="5">
            <h3 class="active_heading">Active Tasks</h3>
			{% for i in list|slice:":1" %}
			<h3 class="active_heading">Author: {{i.author}}</h3>
			{% endfor %}
          </th>
        </thead>
        <tbody>
          <tr>
            <td>
				<div class="col-md-1"> </div>
				<div class="col-md-3" >
				  <div  class="submit_form">
				  <form  method="POST">
					{% csrf_token %}
					{{forms}}
					<center>
						<div class="submit_btn">
					<input type="submit" class="btn btn-default" value="Add" />
					</div>
				  </center>
				  </form>
				</div>
			  </div>
            </td>
          </tr>
          <tr>
            <td><h3>Tasks TODO</h3></td>
          </tr>
          <div class="todo-list">
            {% for i in list%}
            <tr>
              <td colspan="2">
                <h4 class="text-left" id="title{{ i.id }}">{{i.title}}</h4>
              </td>
              <td colspan="2">
                <h4 class="text-left" id="title{{ i.id }}">{{i.start_date}}</h4>
              </td>
			  <td colspan="2">
                <h4 class="text-left" id="title{{ i.id }}">{{i.end_date}}</h4>
              </td>
              <td colspan="2">
                <h4 class="text-left" id="title{{ i.id }}">{{i.details}}</h4>
              </td>
              <td>
                <form
                  action="/del/{{i.id}}"
                  method="POST"
                  style="padding-right: 4%; padding-bottom: 3%"
                >
				{% csrf_token %}
                  <button
                    value="remove"
                    type="submit"
                    class="btn btn-primary"
                    style="float: right"
                  >
                    <span class="glyphicon glyphicon-trash"></span> Remove
                  </button>
                </form>
              </td>
              <td>
                <form
                  action="/updatedTask/{{i.id}}"
                  method="POST"
                  style="padding-bottom: 3%"
                >
				{% csrf_token %}
                  <button
                    value="update"
                    type="submit"
                    class="btn btn-primary"
                    style="float: right;font-size:14px"
                  >
				  <span class="glyphicon glyphicon-pencil"></span> Update/Edit
                    <a
                      class="btn btn-sm btn-light"
                      href="{% url 'updatedTask' i.id %}"
                    ></a>
                  </button>
                </form>
				{% if i.status == True %}
				<td>
                <h5>Completed</h5>
				</td>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
		  </div>
        </tbody>
      </table>
    </div>
  </body>
</html>
